.modal-container {
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.react-responsive-modal-modal{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    
}

.button-container {
    display: flex;
    flex-direction: row;
}

.nav-btn {
    display: flex;
    align-items: center;
}

.nav-btn-link {
    padding: 15px 30px;
    color: #222222;
    outline: none;
    border: 1px solid #222222;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    text-decoration: none;
    text-align: center;
}
